.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.custom-modal-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: -px;
    padding: 25px;
    width: 300px;
    background: #008fb3;
    border-radius: 10px;
    color: white;
    border: 2px solid black;
}

.imagem{
    width: 210px;
    border: 2px solid black;
}

.titulo{
    width: 210px;
    border: 2px solid black;
}

.autor{
    width: 210px;
    border: 2px solid black;
}

.ano{
    width: 210px;
    border: 2px solid black;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 15px;
}

.btnSalvar {
    color: white;
    font-size: 1rem;
    background: green;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 3px;
}

.btnCancelar {
    color: white;
    font-size: 1rem;
    background: red;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 3px;
}
