*{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
    background: #008fb3;
    border: 2px solid black;
}

.header p{
    font-weight: 200;
    font-size: 3.25rem;
}

.header img{
    width: 120px;
    position: absolute;
    margin-right: 260px;
}